---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container" style="justify-content: space-around !important;">
            <!-- Left Image Section -->
            <div class="cs-left" style="display: none;">
                <picture class="cs-picture cs-picture1">
                    <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563"> -->
                    <img aria-hidden="true" decoding="async" src="/assets/images/john.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!-- <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563"> -->
                    <img aria-hidden="true" decoding="async" src="/assets/images/dorothy.jpg" alt="house" loading="lazy" width="400" height="563"> -->
                </picture>
            </div>
<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141" style="width: 100%;">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" decoding="async" src="/assets/images/john.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">John W. Bennitt</span>
                    <span class="cs-job">1924-2003</span>
                    <span class="cs-job" style="text-align: center;">"When employees are happy, products look happy and customers stay happy"</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img aria-hidden="true" decoding="async" src="/assets/images/dorothy.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Dorothy Bennitt</span>
                    <span class="cs-job">1926-1989</span>
                    <span class="cs-job" style="text-align: center;">"Quality Demands Perfection"</span>
                </div>
            </li>
        </ul>
    </div>
</section>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    &emsp;Fine Arts has been in business since 1923, and doing it the right way ever since that first press run between the two world wars. It was purchased by John and Dorothy Bennitt in 1965 as something to keep Dorothy busy after the kids had grown and started school. John was still a production manager at a larger printing company in town. But if you knew Dorothy, just keeping busy was never an option. It started with two small engraving presses and three employees. Within a few years she expanded it to ten presses and fifteen employees. By 1982 John joined her along with three of their sons Curt, Kevin and Kelly.
                </p>
                <p class="cs-text">
                    &emsp;In 1992 we opened a shop in Tulsa to help expand our clientele and speed up our turnaround. Today we have over forty pieces of equipment and twenty-five employees. Curt, Kevin and Kelly still own and run the company to keep the Bennitt family tradition going. We have also expanded from just engraving for the first forty years of the business to now offering foil stamping and embossing, letterpress, specialty die cutting, folder and box converting, stitching, envelope converting, pack outs and hand assembly, along with many other options.
                </p>
                <p class="cs-text">
                    &emsp;Some of the presses that we use today have been in use since the beginning, making them older than the pressmen that run them. Our commitment to craftsmanship and quality has remained the same regardless of the year.
                </p>
                <p class="cs-text">
                    &emsp;We love working on new projects and are always up for a good challenge. If it involves paper, and sometimes if it doesn't, we are willing to give it a try.
                </p>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>


{% endblock %}