---
title: 'Engraving | Fine Arts Engraving'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'engraving/'
eleventyNavigation:
    key: Engraving
    order: 3100
    parent: Enhancements
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Engravings</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header5.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg"> -->
                <!-- <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500"> -->
                <img loading="lazy" decoding="async" src="/assets/images/engrave1.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" alt="mechanic" width="413" height="280"> -->
                <img loading="lazy" decoding="async" src="/assets/images/engrave2.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Specialities of Engraving</h2>
            <p class="cs-text">
                For the ultimate in distinguished style, formality and prestige, nothing is superior to genuine engraving. True classic engraving is characterized by its raised top surface and indented back surface - the result of special press work which utilizes an etched metal plate along with a smooth counter-plate.
            </p>
            <p class="cs-text">
                In the beginning engraving was done on a metal plate which an artisan had carved a line art image. This is still the technique used in the Federal Bureau of Engraving and Printing in Washington, D.C. Later the design was machined into the metal, again by a skilled craftsman. Today the process of photoengraving has become the industry standard, bringing quality work to the market place without the delays that accompanied hand work. Sensitized copper is etched in a bath of acid to produce the engraving plate. On the press, ink is injected into the engraved wells; the plate is wiped clean, and then extreme pressure forces the paper into contact with the recessed ink. A steel engraving plate can last a lifetime. With proper planning, the same plate can be used for  many different items. The initial cost of making the plate can therefore be amortized over subsequent press runs.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <img loading="lazy" decoding="async" src="/assets/images/engrave3.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <img loading="lazy" decoding="async" src="/assets/images/engrave4.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <p class="cs-text">
                Despite the long-standing tradition associated with engraving, the result need not be dull or staid. Engraving is wonderfully versatile. It faithfully reproduces fine lines and tiny type with an absolutely opaque ink, making it an excellent medium for precise rendering of halftones, screens, solids, shadings and patterns, even on dark, richly colored papers.
            </p>
            <p class="cs-text">
                Like most fine work, engraving demands planning and attention to detail. The size of an engraving plate is limited to 4 inches by 8 inches, so the image size must be smaller than that. Paper selection is crucial, since too thin or weak a stock will break down under the pressure of the press. Let Fine Arts' expertise assist you in this timeless art of engraving.
            </p>
            <a href="" class="cs-button-solid">View All Collections</a>
        </div>
    </div>
</section>

                                


{% endblock %}