---
title: 'Foil Stamping | Fine Arts Engraving'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'foilstamping/'
eleventyNavigation:
    key: Foil Stamping
    order: 3200
    parent: Enhancements
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Foil Stamping</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header1.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg"> -->
                <!-- <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500"> -->
                <img loading="lazy" decoding="async" src="/assets/images/machine2-transformed.jpeg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
            <!--Top Right image-->
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Specialities of Foil Stamping</h2>
            <p class="cs-text">
                Foils represent an array of dazzling design possibilities. The idea of stamping an opaque foil material onto paper is not new but if you think all foils are gold or silver metallics, you're in for an exciting surprise. From glittering primary colors to fluorescents; from subtle tints to pastel pearls, foils offer enrichment appropriate to any design mood, and the variety doesn't stop with color. Today's foils come in a myriad of textures and patterns. Standard diffraction foils can evoke the classic or the glitzy, and almost anything in between. There are woodgrain and marble finishes... need we go on?
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <img loading="lazy" decoding="async" src="/assets/images/foil1.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">What makes foil such a distinctive medium?</h2>
            <p class="cs-text">
                For one thing, its opacity - as contrasted with the translucence of regular inks - imbues it with an entirely different character on paper. The process by which it is applied involves the same basic steps as embossing, with an added touch. The foil is fed into the press in a super-thin ribbon, then pressed between a die and a hard, flat surface while heat is applied. Some foils can even be stamped on top of one another to create special colors.
            </p>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg"> -->
                <!-- <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500"> -->
                <img loading="lazy" decoding="async" src="/assets/images/foil2.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
            <!--Top Right image-->
        </div>
        <div class="cs-content">
            <h2 class="cs-title">There are some limitations to remember.</h2>
            <p class="cs-text">
                Because of the variation in stock surfaces, the color and appearance of the foil may differ from the sample swatch. Foil colors may appear slightly darker or lighter than planned, depending upon the color of the background. Also, it's not always possible to match ink colors. We encourage you to request a proof of the foil you want on the stock you have selected. As you can see, working with foils requires a highly specialized level of knowledge and craftsmanship. It is important that you consult us at an early stage in the design process in order to take full advantage of Fine Arts' expertise. Together we will produce the quality you and your client expect from your creations and our company.
            </p>
        </div>
    </div>
</section>

{% endblock %}