---
title: 'Embossing | Fine Arts Engraving'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'embossing/'
eleventyNavigation:
    key: Embossing
    order: 3200
    parent: Enhancements
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Embossing</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header4.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg"> -->
                <!-- <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500"> -->
                <img loading="lazy" decoding="async" src="/assets/images/emboss1.jpg" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" alt="mechanic" width="413" height="280"> -->
                <img loading="lazy" decoding="async" src="/assets/images/emboss2.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Specialities of Embossing</h2>
            <p class="cs-text">
                Embossing makes a statement that is pure class and quiet confident. Depth, dimension, shape - these are some of the qualities that fine embossing imparts.
            </p>
            <p class="cs-text">
                The effect is achieved by first creating a male and female die, then pressing the paper between these while heat is applied. The dies may be flat, with only one level of etching, or sculptured with many levels of depth. As you might expect, the more complex the dies, the greater the one time expense of making them. Normal embossing renders a convex, or raised, image. When the same process is used to create a concave design, we call it debossing.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <img loading="lazy" decoding="async" src="/assets/images/emboss3.jpg" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <img loading="lazy" decoding="async" src="/assets/images/emboss4.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Foil can be added to the raised surfaces, if desired for special effects.</h2>
            <p class="cs-text">
                When the texture is allowed to speak for itself, without the addition of foil, the applicable term is blind embossing. The use of blind embossing with a particularly large or intricate design element can be stunning indeed, and without overpowering the printed piece.
            </p>
            <p class="cs-text">
                Successful embossing demands careful attention to the texture, color, thickness of paper and critical registration. Although there are some general guidelines (for example, the greater the weight or bulk of the paper, the greater the depth and detail of the finished emboss), the best results will always come from working with FINE ARTS. Our experience in specialty printing will guide and assist you in successful execution of your project.
            </p>
            <a href="" class="cs-button-solid">View All Collections</a>
        </div>
    </div>
</section>

{% endblock %}