---
title: 'Letterpress | Fine Arts Engraving'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'letterpress/'
eleventyNavigation:
    key: Letterpress
    order: 3200
    parent: Enhancements
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Letterpress</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header3.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg"> -->
                <!-- <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500"> -->
                <img loading="lazy" decoding="async" src="/assets/images/letterpress1.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" alt="mechanic" width="413" height="280"> -->
                <img loading="lazy" decoding="async" src="/assets/images/letterpress2.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Specialities of Letterpress</h2>
            <p class="cs-text">
                Letterpress printing is one of the earliest methods of commercial printing. Over the years we have seen it go from the only way to do stationery, to the way it used to be done, to that's obsolete technology. At Fine Arts we never got rid of our presses like some shops did. We have always believed that some jobs are better suited for letterpress. And now with the resurgence of letterpress printing as an art form, we're doing more letterpress jobs than we have done in years. While it may be new to some people, we have the experience to get the results you want.
            </p>
            <p class="cs-text">
                Letterpress began with hand-setting individual type to today's modern printing where photo-polymer plates are used. Even with these advances, letterpress still involves a considerable amount of hands on, labor intensive work to produce. The amount of work and the visible impressions are what separate letterpress from off-set or digital printing. The impressions provide a unique, tactical experience that is instantly recognizable.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <img loading="lazy" decoding="async" src="/assets/images/letterpress3.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <img loading="lazy" decoding="async" src="/assets/images/letterpress4.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <p class="cs-text">
                To create  the impression, the design and text is made into a raised photo-polymer plate that can be designed to your desire. The photo-polymer plates are used in place of the traditional lead and wood cut type because they are easier to create, and they do not wear down as fast, making the printing more consistent.
            </p>
            <p class="cs-text">
                After the plates are made, they are inked and either pressed or rolled onto each paper individually, which results in a physical impression. If multiple colors are used, each color will have a separate plate and a separate run through the press. With us never quitting on the style over the years, even when the popularity did, we've got the experience here at Fine Arts to get the job done right the way you have designed. Consult with us about what you have planned and we will help bring your design to life.
            </p>
            <a href="" class="cs-button-solid">View All Collections</a>
        </div>
    </div>
</section>


{% endblock %}