---
title: 'Envelope Converting| Fine Arts Engraving'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'envelope/'
eleventyNavigation:
    key: Envelope Converting
    order: 3200
    parent: Enhancements
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Envelope Converting</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg"> -->
                <!-- <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/models1.jpg" alt="mechanic" width="413" height="500"> -->
                <img loading="lazy" decoding="async" src="/assets/images/envelope2.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/shoes2.jpg" alt="mechanic" width="413" height="280"> -->
                <img loading="lazy" decoding="async" src="/assets/images/envelope1.jpg" alt="mechanic" width="413" height="500" style="object-fit: fill;">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Specialities of Envelope Converting</h2>
            <p class="cs-text">
                Envelope converting is the newest product we have to offer here at Fine Arts, but it is done on the oldest press in the shop. It is done on an FL Smithe Wide Range from 1940. Even at 75 years old it still runs everyday and produces a beautiful product at the end of the line. We specialize in custom irregular envelopes. Want your logo embossed on the front but don't want the image to show through to the back? We will make all the runs before we convert. Interested in a blue flap but you want the front of your envelope to be white? Thats ok too. With our expertise in die cutting we can make it fold right on the color break.
            </p>
            <p class="cs-text">
                We do a wide variety of envelopes for weddings and any other event you might have. From an A-2 for your RSVP, to an A-7 for your invitation. If you find paper you like but can't find the envelope to match we can custom make one to match. We can also make a custom size for you if you've got a specific design in mind. From a square 6x6 inch envelope to a 4x12 inch wide style. We can come up with something to help you out!
            </p>
            <h2 class="cs-title">Let us know what it is that you're interested in and have the experts here at Fine Arts  help bring it to life.</h2>
        </div>
    </div>
</section>

{% endblock %}