---
title: 'Invitations and Announcements | Fine Arts Engraving'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Invitations / Announcements
    order: 3100
    parent: Products
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Invitations and Announcements</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header3.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-881">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Here to Help You Find a Path Forward</h2>
            <p class="cs-text">
                We specialize in custom invitations and announcements. From the elegance of the inauguration ceremony for the Governor, to a 50th birthday celebration for your friend, we are sure to come up with something for you. Foil to letterpress, or engraving to thermography, we can add some specialties to your ideas.
            </p>
            <p class="cs-text">
                With the resurgence of letterpressing it has been one of our biggest items for weddings. The old style of printing has continued the simple but beautiful tradition of wedding announcements. Add a little foil to your name and they are sure to leave your guests impressed. Let us know everything you are interested in. We can keep it simple with just the invitation and an envelope, or go all out with the Registration card, Directions card and RSVP card & envelope. We can also do your wedding programs to tie all the designs together. If you are uncertain about the customs and traditions of wedding announcements our expert staff would love to help. Our great quality and customer service will leave you wanting to come back from your baby announcements all the way to your retirement party invitations!
            </p>
            <p class="cs-text">
                If you have an idea for your design we will help it become even more beautiful than you thought it could be. If you have no idea where to start, thats ok too. Here at Fine Arts we have the knowledge and the experience to help you out every step of the way. We can't wait to help you with the next celebration in your life, whatever it may be!
            </p>
            <a href="" class="cs-button-solid">View All</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/wedding1.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Nix Invitation</h3>
                    <p class="cs-item-text">
                        1 Color Letterpress on Cranes Lettra
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/wedding2.jpg" alt="therapy" width="305" height="200" style="object-fit: fill;">
                    </picture>
                    <h3 class="cs-h3">Remondino Birthday Invite</h3>
                    <p class="cs-item-text">
                        A-7 Envelope with Gold Foil Flap

Invite Foiled Red and Gold on Front, Foiled Red on Back

Video Card Foiled Red
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/wedding3.jpg" alt="therapy" width="305" height="200" style="object-fit: fill;">
                    </picture>
                    <h3 class="cs-h3">Parr Wedding</h3>
                    <p class="cs-item-text">
                        A-7 Outer Envelope, A-7 Inner Envelope, 2 Layer Invitation with back Pocket, Accommodations Card, Reception Card & RSVP Card with Return Addressed A-2
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/wedding4.jpg" alt="therapy" width="305" height="200" >
                    </picture>
                    <h3 class="cs-h3">HOF Invite</h3>
                    <p class="cs-item-text">
                        Foil and Embossed Logo 2 color letterpress type Round Corner Die Cut
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                                


{% endblock %}