---
title: 'Project Two | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Pocket Folders
    order: 3200
    parent: Products
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Pocket Folders & Specialty Cartons</h1>
        <picture>
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667"> -->
            <img aria-hidden="true" decoding="async" src="/assets/images/header3.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-881">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Pocket Folders & Specialty Cartons</h2>
            <p class="cs-text">
                Among our many specialties at Fine Arts, we take pride in our repertoire of presentation folders, cartons and other novelty designs. Our presentation folders represent a gallery of creativity, expressed through a myriad of materials, colors and techniques. Sizes range from a double pocket folder that fits into a number ten envelope to a three-panel legal size folder. Most have business card slits. Some have windows, others file tabs, and much, much more. At Fine Arts we can foil stamp, emboss or finish in any way that fits your specific needs. Ask our expert sales staff for assistance in designing a folder you can be proud to show.
            </p>
            <p class="cs-text">
                As an extension of our die cutting capabilities, we also produce cartons and sleeves for CD's, pop-ups and other product specialties. Let your imagination flow and you are sure to think of cartons that can be used as sales tools or point-of-purchase designs. Perhaps a tray and sleeve for notepads, or unusual cartons.
            </p>
            <p class="cs-text">
                Like all specialty work, diecutting poses some hazards for the novice. As always, feel free to consult our experienced craftsman for assistance with selection of proper paper and with configuration and placement of the die. With your ingenuity and Fine Arts' expertise and equipment, we are sure to produce a quality product that works for you.
            </p>
            <a href="" class="cs-button-solid">View All</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/folder1.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <!-- <h3 class="cs-h3">Nix Invitation</h3> -->
                    <p class="cs-item-text">
                        Fine Arts Standard 9 x 12 Pocket Folder with two 4 inch pockets and vertical thumbnail business card slits
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/folder2.jpg" alt="therapy" width="305" height="200" style="object-fit: fill;">
                    </picture>
                    <!-- <h3 class="cs-h3">Remondino Birthday Invite</h3> -->
                    <p class="cs-item-text">
                        Fine Arts Standard 9 x 12 Pocket Folder with two 4 inch pockets and vertical thumbnail business card slits
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/folder3.jpg" alt="therapy" width="305" height="200" style="object-fit: fill;">
                    </picture>
                    <!-- <h3 class="cs-h3">Parr Wedding</h3> -->
                    <p class="cs-item-text">
                        American Energy Partners 9" x 12" Pocket Folder with 3" Flap
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy5.jpg" alt="therapy" width="305" height="200"> -->
                        <img loading="lazy" decoding="async" src="/assets/images/folder4.jpg" alt="therapy" width="305" height="200" style="object-fit: fill;">
                    </picture>
                    <!-- <h3 class="cs-h3">HOF Invite</h3> -->
                    <p class="cs-item-text">
                        Fine Art Promotional Box
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

{% endblock %}